@charset "utf-8";
.h1maroc {
    text-align: center;
    font-size: 50px; /* Taille du titre */
        margin-left: 300px;
        color: #ec681b;
        font-family: 'Dancing Script', cursive;
    
  }

 h2 {
  color: #ec681b; /* Couleur du texte */
  font-family: 'Dancing Script', cursive; /* Police de caractères avec fallback */
}

.h3 {
  color: #ec681b; /* Couleur du texte */
  margin-top: 20px; /* Marge en haut */
  text-decoration: underline; /* Ajout du soulignement */
}

.mm{ font-family: 'Dancing Script', cursive;}



h4 b {
  font-weight: bold; /* Texte en gras */
  color: #007BFF; /* Couleur du texte pour les objectifs */
}




  
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
   
      }
      .menu {
        font-family: initial; /* ou "inherit"  */
    }
      

      .content {
        padding: 20px;
        margin-left :320px;
      }

      h2 {
        border-bottom: 2px solid #333;
        padding-bottom: 10px;
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 10px;
      }

      img.food-image {
        float: left;
        max-width: 200px;
        margin: 10px 0;
        display: block;
      }
      
      .clearfix::after {
      content: "";
      clear: both;
      display: table;
      }
      .formation-box {
            border: 1px solid #ddd;
            padding: 20px;
           
            text-align: center;
            width: 300px;
            margin-left:600px;
        }

        /* Style de l'image */
        .formation-box img {
            max-width: 100%;
            height: auto;
            margin-bottom: 10px;
           
        }

        /* Style des informations de tarification */
        .tarification {
            font-weight: bold;
            color: #007BFF;
        }